body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.game-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.hole {
    width: 100px;
    height: 100px;
    background-color: #9c7248;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    cursor: pointer;
}

.up {
    background-color: #e74c3c; /* Change color when mole is up */
}
