*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

@media screen and (max-width: 768px) {
    .container {
        display: flex;
        flex-direction: column;
    }
    #webCam {
        width: 290px;
        height: 460px;
    }
}

h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 10px 0px;
}

.container {
    display: flex;
    margin-top: 10px;
}

.card {
    border: 5px solid #242424;
    border-radius: 25px;
    width: 300px;
    max-height: 800px;
    margin: 0px auto;
    background-color: #333333;
    text-align: center;
    overflow: hidden;
    margin-bottom: 20px;
}

.data-container {
    overflow: hidden;
}

.display-card-wrapper {
    overflow-y: auto;
    max-height: 450px;
    margin-bottom: 20px;
}

.display-card-wrapper::-webkit-scrollbar {
    width: 0.5em;
}

/* .display-card-wrapper::-webkit-scrollbar-thumb {
    background-color: #ccc;
    outline: 1px solid #ccc;
}

.display-card-wrapper::-webkit-scrollbar-track {
    background-color: #f1f1f1;
} */

.card h1 {
    color: #fff;
    padding: 20px 0px 5px 0px;
    font-size: 23px;
}

#showError {
    display: none;
    color: #fff;
    cursor: pointer;
}

#numErr {
    display: none;
    color: red;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: -40px;
    margin-bottom: 1px;
    /* text-align: center; */
}

#showG {
    display: none;
}

#card-wrapper {
    display: none;
}

.input-container {
    margin-bottom: 20px;
}

.input-container input {
    padding: 5px;
    border-radius: 20px;
    width: 220px;
    outline: none;
    border: none;
}

.select-container select{
    background-color: #808080;
    outline: none;
    border: none;
    border-radius: 10px;
    padding: 5px 25px 5px 0px;
    margin-bottom: 20px;
    width: 150px;
}

.button-container button {
    padding: 10px;
    margin-bottom: 20px;
    color: #6C757D;
    border-radius: 5px;
    border: none;
    outline: none;
}

.button-container button:hover {
    opacity: 0.9;
}

.all-cards {
    background-color: #EAEAEA;
    margin: 0px 20px 20px 20px;
}

.all-cards h1 {
    font-size: 18px;
    padding: 10px;
}

.all-cards-text {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    color: #343A40;
    font-size: 15px;
}

#validation{
    color: #31AB4D;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.validation-text {
    color: #31AB4D;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#phone-container {
    background-color: #060606;
    margin: 20px auto;
    border: 5px solid #080808;
    border-radius: 25px;
    width: 300px;
    height: 550px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    /* background-color: #333; */    
}

#screen {
    width: 100%;
    height: 85%;
    background-color: #000;
    position: absolute;
    top: 7.5%;
    left: 0%;
    right: 0%;
    border-radius: 10px;
}

#mywallpaper {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.speaker1 {
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    top: 15px;
    left: 70px;
}

#camera-design {
    width: 100px;
    height: 15px;
    border-radius: 10px;
    background-color: #333;
    position: absolute;
    top: 12px;
    left: 100px;
}

.speaker2 {
    width: 12px; 
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    border: 1px solid #000;
    position: absolute;
    top: 15px;
    left: 215px;
}

#button-bar {
    width: 100%;
    height: 5%;
    position: absolute;
    bottom: 0;
    left: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #000;
}

.nav-button {
    width: 30px;
    height: 30px;
    object-fit: cover;
    cursor: pointer;
}

.innerDiv {
    position: absolute;
    left: 190px;
    top: 6px;
}

.network {
    /* margin-top: 0px; */
    position: absolute;
    right: 225px;
    color: #fff;
}

.network > p {
    font-size: 6px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50px;
}

.datetime-container {
    text-align: center;
    position: absolute;
    top: 130px;
    right: 38px;
}

#date {
    font-size: 15px;
    margin: 5px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#time {
    font-size: 30px;
    font-weight: bold;
    margin: 5px;
    width: 180px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#batteryIcon {
    transform: rotate(-90deg);
}

.apps-container {
    position: absolute;
    top: 200px;
    right: 100px;
    display: flex;
}

#calculatorIcon {
    background-color: #DC3545;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#gameIcon {
    background-color: #ffc107;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#chromeIcon {
    background-color: #17a2b8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#musicIcon {
    background-color: #F8F9FA;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#phoneIcon {
    background-color: #28a745;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#messageIcon {
    background-color: #17a2b8;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#cameraIcon {
    background-color: grey;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

#contactIcon {
    background-color: #007bff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.first-row{
    display: flex;
    position: absolute;
    top: 85px;
    gap: 8px;
    right: -115px;
}

.first-row > img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0px 15px 0px 0px;
}

#tabIcon {
    position: absolute;
    top: 140px;
    right: 14px;
}

.second-row {
    display: flex;
    position: absolute;
    top: 185px;
    gap: 40px;
}

.second-row > img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 0px 153px 0px -170px;
}

/* Calculator stylesheet */

#calc-container{
    /* width: 250px; */
    margin: 0px 0px 0px -185px;
    /* padding: 0px 35px 10px 15px; */
    /* padding: 5px; */
    /* height: 300px; */
    /* background: #e3f9ff; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    display: none;
}
.calculator{
    background: #3a4452;
    padding: 10px;
    border-radius: 10px;
    height: 450px;
    width: 280px;
}
.calculator form input{
    border: 0;
    outline: 0;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),5px 5px 15px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    background: transparent;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    margin: 10px;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 25px 0;
}
form .display input{
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    overflow-x: auto;
}
form input.equal{
    width: 105px;
}

form input.equal:hover {
    background-color: #33ffd8;
    color: #fff;
}



form input.number {
    /* transform: scale(1);
    transition: transform 0.3s ease;  */
    /* border: 2px solid transparent;
    transition: border 0.3s ease; */
    transform: rotate(0deg);
    transition: transform 0.3s ease; 
}

form input.number:hover {
    /* transform: scale(1.2); */
    /* border-color: #555; */
    transform: rotate(15deg);
}

form input.operator{
    color: #33ffd8;
    transition: background-color 0.4s ease;
}

form input.operator:hover {
    background-color: #33ffd8;
    color: #fff;
}

.all-rows {
    margin: 40px 0px 0px 0px;
}

/* End of Calculator stylesheet */

/* Camera App style */
a {
    padding: 10px;
    background-color: orange;
    color: white;
    text-decoration: none;
}

canvas {
    display: none;
}

#cameraWrapper {
    display: none;
}

#webCam {
    margin-left: -190px;
}

.cameraBtn {
    display: flex;
    margin: -20px 0px 0px -165px;
    /* justify-content: space-evenly; */
    gap: 10px;
    position: absolute;
    bottom: 10px;
}

.cameraBtn button {
    /* padding: 10px; */
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-top: 15px;
    background-color: rgba(255, 255, 255, 0.4);
  /* -webkit-backdrop-filter: blur(5px); */
    backdrop-filter: blur(15px);
    cursor: pointer;
}

#cambtn1:hover {
    background-color: #1fb742;
    transition: background-color 0.4s ease;
}

#cambtn2:hover {
    background-color: #ef263a;
    transition: background-color 0.4s ease;
}

.cameraBtn a img{
    padding: 2px;
    cursor: pointer;
    object-fit: cover;
    width: 40px;
    height: 40px;
}
/* End of Camera App style */

#board{
    display: none;
}

#caller {
    display: none;
    width: 300px;
    height: 455px;
    margin-left: -200px;
    background-color: #fff;
}

#contact {
    display: none;
    width: 300px;
    height: 455px;
    margin-left: -200px;
    background-color: #fff;
    text-align: center;
    padding: 20px;
}

#contact div > input{
    width: 120px;
    height: 20px;
    margin: 10px;
}

#messenger {
    display: none;
    width: 300px;
    height: 455px;
    margin-left: -200px;
    background-color: #fff;
}

#chromeBrowser {
    display: none;
    width: 300px;
    height: 455px;
    margin-left: -200px;
    background-color: #fff;
}

    











